# IN CLASS LAB EXERCISE 03

In [0]:
import pandas as pd
import os

In [0]:
os.chdir('C:\\Users\\DILIP\\Downloads')

**Data Description:-**

**Survival**
0 = No, 1 = Yes

**pclass**
Ticket class
1 = 1st, 2 = 2nd, 3 = 3rd

**sex**
Sex

**Age**
Age in years

**sibsp**
siblings / spouses aboard the Titanic

**parch**
parents / children aboard the Titanic

**ticket**
Ticket number

**fare**
Passenger fare

**cabin**
Cabin number

**embarked**
Port of Embarkation
C = Cherbourg, Q = Queenstown, S = Southampton

**Q.no (1) . Write a code to load 'train.csv' as data1 & 'test.csv' as data2.**

In [0]:
data1=pd.read_csv('train.csv')
data2=pd.read_csv('test.csv')

------

**Q.no (2) . Write a code to `concanate` data1 & data2 assign it as  `data_01`.**

In [0]:
data_01=pd.concat([data1,data2],axis=0)  #Concatenation joins DataFrames basically either by rows or colums(axis=0 or 1).
data_01

C:\Users\DILIP\AppData\Local\Continuum\anaconda1\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

-----

**Q.no(3).Write a code to `MERGE`(`outer`)  data1 & data2 as `data`.**

In [0]:
data1 = pd.DataFrame({'EMP_ID': ['2101', '2102', '2103', '2104'],
                     'SALARY_YEAR1': ['1000', '2000', '3000', '4000'],
                     'SALARY_YEAR2': ['2000', '4000', '6000', '8000']})
   
data2 = pd.DataFrame({'EMP_ID': ['2101', '2106', '2103', '2104'],
                          'SALARY_YEAR3': ['3000', '6000', '12000', '16000'],
                          'SALARY_YEAR4': ['4000', '8000', '15000', '30000']})

In [0]:
data=pd.merge(data1,data2,how='outer',on='EMP_ID')

  EMP_ID SALARY_YEAR1 SALARY_YEAR2 SALARY_YEAR3 SALARY_YEAR4
0   2101         1000         2000         3000         4000
1   2102         2000         4000          NaN          NaN
2   2103         3000         6000        12000        15000
3   2104         4000         8000        16000        30000
4   2106          NaN          NaN         6000         8000

----

**Q.no(4).Write a code to `JOIN`(`inner`) data1 & data2 as `data11`.**

In [0]:
data1 = pd.DataFrame({'SALARY_YEAR1': ['1000', '2000', '3000', '4000'],
                     'SALARY_YEAR2': ['2000', '4000', '6000', '8000']},
                    index= ['2101', '2102', '2103', '2104'])
   
data2 = pd.DataFrame({'SALARY_YEAR3': ['3000', '6000', '12000', '16000'],
                          'SALARY_YEAR4': ['4000', '8000', '15000', '30000']},
                      index= ['2101', '2106', '2103', '2104'])

In [0]:
data11=data1.join(data2,how='inner')

     SALARY_YEAR1 SALARY_YEAR2 SALARY_YEAR3 SALARY_YEAR4
2101         1000         2000         3000         4000
2103         3000         6000        12000        15000
2104         4000         8000        16000        30000

-----------

**Q.no(5) . Write a code to `RENAME` the column from `sex` to `gender` and assign it to the new dataframe named as `data_02`.**

In [0]:
data_02=data_01.rename(columns= {'sex':'Gender'})
data_02

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

--------

**Q.no(6) . Write a code to `drop` the column 'Ticket' and assign it to the new dataframe named as `data_03`.**

In [0]:
data_03=data_02.drop('Ticket',axis=1) # axis '0' for rows and '1' for columns.
data_03

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN

-----

**Q.no(7) . Write a code to `drop` the first five  `rows` of `data_03` as per there `index position`  .**

In [0]:
data_03.drop(data_02.index[0:5])

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0
30,40.0,NaN,C,27.7208,"Uruchurtu, Don. Manuel E",0,31,1,male,0,0.0
31,NaN,B78,C,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,32,1,female,1,1.0
32,NaN,NaN,Q,7.7500,"Glynn, Miss. Mary Agatha",0,33,3,female,0,1.0
33,66.0,NaN,S,10.5000,"Wheadon, Mr. Edward H",0,34,2,male,0,0.0
34,28.0,NaN,C,82.1708,"Meyer, Mr. Edgar Joseph",0,35,1,male,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN

-----

**Q.no(8) . Write a code to `drop` the `column no. 2 ` of `data_03` as per there `index position` .**

In [0]:
data_03.drop(data_02.columns[2],axis=1)

,Age,Cabin,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived
0,22.0,NaN,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0
1,38.0,C85,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0
2,26.0,NaN,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0
3,35.0,C123,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0
4,35.0,NaN,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0
5,NaN,NaN,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0
6,54.0,E46,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0
7,2.0,NaN,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0
8,27.0,NaN,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0
9,14.0,NaN,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0
10,4.0,G6,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0
11,58.0,C103,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0
12,20.0,NaN,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0
13,39.0,NaN,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0
14,14.0,NaN,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0
15,55.0,NaN,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0
16,2.0,NaN,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0
17,NaN,NaN,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0
18,31.0,NaN,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0
19,NaN,NaN,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0
20,35.0,NaN,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0
21,34.0,D56,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0
22,15.0,NaN,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0
23,28.0,A6,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0
24,8.0,NaN,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0
25,38.0,NaN,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0
26,NaN,NaN,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0
27,19.0,C23 C25 C27,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0
28,NaN,NaN,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0
29,NaN,NaN,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0
...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN
389,6.0,NaN,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN
390,23.0,B24,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN
391,51.0,D28,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN
392,13.0,NaN,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN
393,47.0,NaN,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN
394,29.0,NaN,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN
395,18.0,C31,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN
396,24.0,NaN,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN
397,48.0,B41,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN
398,22.0,NaN,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN
399,31.0,NaN,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN
400,30.0,C7,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN
401,38.0,NaN,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN
402,22.0,NaN,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN
403,17.0,NaN,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN
404,43.0,D40,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN
405,20.0,D38,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN
406,23.0,NaN,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN
407,50.0,C80,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN
408,NaN,NaN,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN
409,3.0,NaN,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN
410,NaN,NaN,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN
411,37.0,C78,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN
412,28.0,NaN,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN
413,NaN,NaN,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN
414,39.0,C105,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN
415,38.5,NaN,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN
416,NaN,NaN,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN
417,NaN,NaN,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN

-----

**Q.no(9). Write a code to replace all the `3` in the `Pclass` to `2` of `data_02`and assign it to the new dataframe named as `data_04`.**

In [0]:
data_04=data_02['Pclass'].replace(3,2)
data_04

0      2
1      1
2      2
3      1
4      2
5      2
6      1
7      2
8      2
9      2
10     2
11     1
12     2
13     2
14     2
15     2
16     2
17     2
18     2
19     2
20     2
21     2
22     2
23     1
24     2
25     2
26     2
27     1
28     2
29     2
      ..
388    2
389    2
390    1
391    1
392    2
393    2
394    2
395    1
396    2
397    1
398    2
399    2
400    1
401    2
402    1
403    1
404    1
405    2
406    2
407    1
408    2
409    2
410    2
411    1
412    2
413    2
414    1
415    2
416    2
417    2
Name: Pclass, Length: 1309, dtype: int64

----

**Q.no(10). Write a code to identify duplicates in `Cabin` column and show a `count` of it from `data_02`.**

In [0]:
data_05=data_02.duplicated(['Cabin'])

In [0]:
data_05.value_counts()

True     1122
False     187
dtype: int64

-----

**Q.no(11). Write a code to `drop` all duplicates in `Fare` column from `data_03` and show `info()`.**

In [0]:
data_03.drop_duplicates(['Fare'],inplace=True)

In [0]:
data_03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 0 to 408
Data columns (total 11 columns):
Age            229 non-null float64
Cabin          92 non-null object
Embarked       281 non-null object
Fare           281 non-null float64
Name           282 non-null object
Parch          282 non-null int64
PassengerId    282 non-null int64
Pclass         282 non-null int64
Sex            282 non-null object
SibSp          282 non-null int64
Survived       248 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 26.4+ KB

----

**Q.no(12). Write a code to `show the summary statistics` for all numeric columns of  `data_01`.**

In [0]:
data_01.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

-----

**Q.no(13). Write a code to `show the summary statistics` for all columns that including 'categorical columns' of  `data_01`.**

In [0]:
data_01.describe(include='all')

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
count,1046.000000,295,1307,1308.000000,1309,1309.000000,1309.000000,1309.000000,1309,1309.000000,891.000000,1309
unique,NaN,186,3,NaN,1307,NaN,NaN,NaN,2,NaN,NaN,929
top,NaN,C23 C25 C27,S,NaN,"Connolly, Miss. Kate",NaN,NaN,NaN,male,NaN,NaN,CA. 2343
freq,NaN,6,914,NaN,2,NaN,NaN,NaN,843,NaN,NaN,11
mean,29.881138,NaN,NaN,33.295479,NaN,0.385027,655.000000,2.294882,NaN,0.498854,0.383838,NaN
std,14.413493,NaN,NaN,51.758668,NaN,0.865560,378.020061,0.837836,NaN,1.041658,0.486592,NaN
min,0.170000,NaN,NaN,0.000000,NaN,0.000000,1.000000,1.000000,NaN,0.000000,0.000000,NaN
25%,21.000000,NaN,NaN,7.895800,NaN,0.000000,328.000000,2.000000,NaN,0.000000,0.000000,NaN
50%,28.000000,NaN,NaN,14.454200,NaN,0.000000,655.000000,3.000000,NaN,0.000000,0.000000,NaN
75%,39.000000,NaN,NaN,31.275000,NaN,0.000000,982.000000,3.000000,NaN,1.000000,1.000000,NaN
max,80.000000,NaN,NaN,512.329200,NaN,9.000000,1309.000000,3.000000,NaN,8.000000,1.000000,NaN

-----

**Q.no(14). Write a code to show `average` `age` of all the passengers of `data_01`.**

In [0]:
data_01['Age'].mean()

29.881137667304014

-----

**Q.no(15). Write a code to show the Middle value in `Survived` column of all the passengers from `data_01`.**

In [0]:
data_01['Survived'].median()

0.0

-----

**Q.no(16). Write a code to show mostly paid fare by all the passengers from `data_01`.**

In [0]:
data_01['Fare'].mode()

0    8.05
dtype: float64

--------

**Q.no(17). Write a code to show how much do the `fare` is `skewed` in `data_01`.**

In [0]:
print("skewness of data : %f" % data_01['Fare'].skew())

skewness of data : 4.367709

----

**Q.no(18). Write a code to show how much is the `kurtosis` in `Age` column for data_01.**

In [0]:
print("skewness of data : %f" % data_01['Age'].kurt())

skewness of data : 0.146948

----

**Q.no(19).Write a code to show the `average age` of all the genders as per there respective `passenger class(Pclass)` for data_01.**

In [0]:
data_01.pivot_table(index='Sex',columns = 'Pclass',values='Age', aggfunc='mean')

Pclass          1          2          3
Sex
female  37.037594  27.499223  22.185329
male    41.029272  30.815380  25.962264

-----

**Q.no(20). Write a code to show the `average fare` for all `individual` `'Pclass'`.**

In [0]:
data_01.groupby('Pclass').mean()['Fare']

Pclass
1    87.508992
2    21.179196
3    13.302889
Name: Fare, dtype: float64

# -----------------------------------HAPPY LEARNING-----------------------------------------

------